{% extends "base.html" %} {% block body %}
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <form action="/home" method="GET">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Template Name"
            name="template_name"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Template Sub Type"
            name="template_type"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Project code / Material name"
            name="P_code"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Batch number"
            name="batch_num"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="A.R. Number"
            name="a_r number"
            aria-describedby="basic-addon1"
          />
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>
</section>

{% endblock body %}
